.el-input__wrapper {
    padding: 0 !important;
    margin: 0 !important;
}

a:focus {
    box-shadow: none;
}

.employee-info-wrapper {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.employee-info-wrapper::-webkit-scrollbar {
    display:none;
}
